.todos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
}

.do, .doing, .concluded{
    display: flex;
    flex-direction: column;
}

button{
    cursor: pointer;
}